main {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rgt_log{
    background-color: #0D3155;
    color: white;
    font-size: 15px;
    border-color: transparent;
    border-radius: 17px;
    padding-inline: 3%;
    padding-block: 0.7%;
}

.home_bot{
    display: flex;
    gap: 10px;
    margin-left: 42%;
    
}

.register{
    background-color: #0D3155;
    box-shadow: black;
    width: 25%;
    padding-inline: 2%;
    padding-block: 2%;
    border-radius: 20px;
    min-height: 400px;
}

.form_cadastro{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input{
    padding: 1%;
    font-size: 18px;
    border-radius: 10px;
    border-color: transparent;
    padding-block: 2%;
}

h2{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding-bottom: 10%;
}

header {
    background: #0A2540;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
}

.logo{
    width: 92px;
    height: 75px;
    margin-bottom: 0;
    margin-top: 0.5%;
    margin-left: 0.5%;
}

ul{
    margin-left: 5%;
    display: flex;
    gap: 30px;
    list-style: none;
}

a{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-decoration: none;
}

.button_log{
    background-color: #16E28A;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    border-color: transparent;
    border-radius: 200px;
    padding-inline: 27%;
    padding-block: 4.5%;
}

.introducao{
    background-color: #24314C;
    position: fixed;
    top: 10.3%;
    width: 100%;
    height: 35%;
}

.titulo{
    color: white;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 850;
    font-style: normal;
    width: 22%;
    text-align: center;
    margin-left: 2.5%;
}

p{
    font-size: 20px;
    font-family: 'Calibri';
    text-decoration: none;
    color: white;
    width: 20%;
    text-align: justify;
    margin-left: 3.3%;
}

.intrucao_buttons{
    margin-left: 2.5%;
}

.button_inicio{
    background-color: #16E28A;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    border-color: transparent;
    border-radius: 100px;
    padding-inline: 1.9%;
    padding-block: 0.4%;
    margin-left: 0.5%;
}